# Ignore the node_modules directory
node_modules/

# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# The file containing environment variables 
.env

#Ignore the config directory
config/

# Ignore IDE specific files
.idea/
.vscode/
*.sw*

# Ignore credentials.json

/credentials.*
/credentials2.*
/credentials3_NITP.*
/token.*
