<%- include('partials/header') %>

<div class="right menu">
    <div class="item">
    <a href="<%=authUrl %>" class="ui google plus button">
        <i class="google plus icon"></i>
        SignIn
    </a>
    </div>
</div>


















<%- include('partials/footer') %>