<div class="ui container">
    <h3>Paste the code here from the auth window.</h3>
 <form class="ui form" action="/verify" method="POST">
  <div class="field">
   <label for="code">Paste the Code Here</label>
   <input type="text" name="code"/>
  </div>
  <div class=field>
      <button type="submit" class="ui inverted teal button">Submit</button>
  </div>
 </form>
</div>